<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

    <% for (mes of messages) { %>
    <div>
      <div class="bluegrad-bg white messhead-flex">
        <div class="mess-name"><%= mes.user %></div>
        <div><%= mes.time %></div>
      </div>
      <p><%= mes.text %></p>
    </div>
    <% } %>

    <a href="new">Post a message</a>

  </body>
</html>
